    .sloganContainer{
        display: flex;
        flex-flow: column nowrap;
        margin: 5rem 0;
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .sloganContainer p{
        font-size: 6rem;
        color: #776B5D;
    }

    .sloganContainer p:nth-child(1) > b{
        color: #B06161;
    }

    .sloganContainer p:nth-child(3) > b{
        color: #4F6F52;
    }

    @media (max-width: 768px) {
        .sloganContainer{
            margin-top: 3rem;
        }
        .sloganContainer p {
            font-size: 2.5rem;
        }
    }