.galleryContainer{
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 1rem 4rem;
    gap: 2rem;
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
}

.galleryContainer h1{
    font-weight: 700;
}

.galleryimages{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.galleryimages img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }